@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = User.Identity.Name;
}

@section Styles {
    <link href="~/css/register.css" rel="stylesheet" />
}

<div class="card shadow p-4">

    <h2>Risk Registration</h2>

    <hr />

    <p class="text-muted">
        Register and document identified risks for assessment,
        monitoring, and mitigation.
    </p>

    <form>

        <div class="row g-4 mt-2">

            <!-- Risk Date -->
            <div class="col-md-6">
                <label class="form-label required-field">Risk Date</label>
                <input type="date" class="form-control modern-input" required />
            </div>
            <!-- Risk Identification -->
            <div class="col-md-6">
                <label class="form-label required-field">Identified Risk</label>
                <select class="form-select modern-input" required>
                    <option value="">Select Identified Risk</option>
                    <option>Domestic Banking</option>
                    <option>Credit Operation</option>
                    <option>International Banking</option>
                </select>
            </div>
            <!-- Risk Event -->
            <div class="col-12">
                <label class="form-label required-field">Risk Event</label>
                <textarea class="form-control modern-input" rows="6"
                          placeholder="Provide a clear and detailed description..." required></textarea>
            </div>
            <!-- Impact -->
            <div class="col-md-6">
                <label class="form-label required-field">Impact</label>

                <select class="form-select modern-input" required>
                    <option value="">Select Impact</option>

                    <option>Loss Type</option>
                    <option>Loss Date</option>
                    <option>Insurance</option>
                    <option>Loss Amount</option>
                    <option>Recovery Amount</option>
                    <option>Net Loss Amount</option>
                    <option>Impact Level</option>
                </select>
            </div>
            <!-- Risk Rating -->
            <div class="col-md-6">
                <label class="form-label required-field">Risk Rating</label>

                <select class="form-select modern-input" required>
                    <option value="">Select Risk Rating</option>

                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Extreme</option>
                </select>
            </div>
            <!-- Risk Category -->
            <div class="col-md-6">
                <label class="form-label required-field">Risk Category</label>

                <select class="form-select modern-input" required>
                    <option value="">Select Risk Category</option>

                    <option>Internal Fraud</option>
                    <option>External Fraud</option>
                    <option>Employment & Workplace Safety</option>
                    <option>Property Damage</option>
                    <option>System Failure & Business Disruption</option>
                    <option>Process Management & Execution</option>
                    <option>Customer & Product Risk</option>
                </select>
            </div>
            <!-- Level of residual risk -->
            <div class="col-md-6">
                <label class="form-label required-field">Level of residual risk</label>

                <select class="form-select modern-input" required>
                    <option value="">Select residual risk score</option>

                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Extreme</option>
                </select>
            </div>
            <!-- Recommendation -->
            <div class="col-md-6">
                <label class="form-label required-field">Recommendation</label>
                <input type="date" class="form-control modern-input" required />
            </div>
            <!-- Mitigation Planned Date -->
            <div class="col-md-6">
                <label class="form-label required-field">Mitigation Planned Date</label>
                <input type="date" class="form-control modern-input" required />
            </div>

        </div>

        <div class="mt-4 d-flex justify-content-end gap-2">

            <button type="reset" class="btn btn-outline-secondary btn-lg">
                Clear
            </button>

            <button type="submit" class="btn btn-success btn-lg">
                Register Risk
            </button>

        </div>

    </form>

</div>