@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles {
    <link href="~/css/login.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/js/login.js"></script>
}

<body>
    <div class="container-fluid">
        <div class="row min-vh-100">

            <div class="col-md-9 p-0 image-hero">

                <div class="hero-bg"></div>
                <div class="hero-overlay"></div>

                <div class="hero-content">

                    <div class="hero-badge">Enterprise Platform</div>

                    <h1>
                        Risk & Compliance<br>
                        Management System
                    </h1>

                    <p>
                        Streamline risk assessment, compliance monitoring,
                        audit management, and governance processes through
                        one secure and intelligent platform.
                    </p>

                    <div class="hero-glow"></div>

                </div>

            </div>

            <div class="col-md-3  p-0 border-start login-container">
                <div class="login-card">
                    <img src="./images/mike.png" width="300px" height="150" />

                    <form id="loginForm" method="post" action="/login">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="username" placeholder="Username" required />
                        </div>

                        <div class="mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                            <small id="passwordError" class="text-danger"></small>
                        </div>

                        <button type="submit" id="loginBtn" class="btn btn-login">
                            Log In
                        </button>
                        <br /><br />
                        <div id="errormessage" class="alert alert-danger text-center d-none" role="alert"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>