
    .page-title{
        font-weight:600;
        color:#1f2937;
    }

    .page-subtitle{
        color:#6b7280;
        font-size:14px;
    }

    .form-label{
        font-size:.9rem;
        font-weight:600;
        color:#374151;
        margin-bottom:.55rem;
    }

    .form-control,
    .form-select{

        height:50px;
        border-radius:12px;
        border:1px solid #dbe2ea;
        background:#f8fafc;
        box-shadow:none;
        transition:.25s;
        padding-left:16px;
        font-size:15px;
    }

    .form-control:hover,
    .form-select:hover{
        border-color:#b8c4d4;
        background:#fff;
    }

    .form-control:focus,
    .form-select:focus{

        background:#fff;
        border-color:#0cc496;
        box-shadow:0 0 0 .18rem rgba(13,110,253,.15);
    }

    .card{

        border-radius:18px;
        overflow:hidden;
    }

    .card-header{

        background:#fff;
        padding:1.4rem 1.8rem;
        border-bottom:1px solid #edf2f7;
    }

    .card-body{

        padding:2rem;
    }

    .btn{

        border-radius:10px;
        height:46px;
        padding:0 22px;
        font-weight:600;
    }

    .text-danger{

        font-size:13px;
    }.input-group-text{

    width:52px;
    justify-content:center;
    border-radius:12px 0 0 12px;
    border:1px solid #dbe2ea;
    border-right:none;
    background:#f8fafc;
    color:#6b7280;
}

.input-group .form-control,
.input-group .form-select{

    border-left:none;
    border-radius:0 12px 12px 0;
}

.input-group:focus-within .input-group-text{

    border-color:#11b987;
    background:#fff;
    color:#0ad195;
}

